.button-outline {
  padding: 0 40px;
  height: 60px;
  border-radius: 30px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 14px;
  font-weight: 800;
  letter-spacing: 4px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;

  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  &:focus {
    outline: none;
    background-color: rgb(0, 0, 0);
  }
}
