.card {
  text-align: center;

  p + p {
    margin-top: 15px;
  }
  
}

.card__img {
  margin: 0 auto 40px;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 10px;
    min-height: 48px;
    line-height: 1.5;
  }

  /* Mobile */
  @media (max-width: 899px) {
    min-height: unset;
  }
}

.card__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.14;
  color: $paragraphColor;

  /* Tablet */
  @media (max-width: 1199px) {
    line-height: 1.57;
  }
}
