.input {
  display: block;
  height: 60px;
  padding: 0 30px;
  border-radius: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  outline: none;

  font-size: 14px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;

  /* Mobile */
  @media (max-width: 899px) {
    padding: 0 46px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    padding: 0 36px;
  }
}

.input::placeholder {
  color: #fff;
}
