.button-round {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: #fff;

  cursor: pointer;
  transition: 0.3s;
}

.button-round:hover {
  background-color: #00c470;
}
