.footer {
  padding: 70px 0;
  background-color: #1a1a1a;
  color: #fff;

  /* Tablet */
  @media (max-width: 1199px) {
    padding: 60px 0;
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding: 50px 0;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    padding: 40px 0;
  }
}

.footer__row {
  margin-bottom: 50px;
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-bottom: 40px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    margin-bottom: 30px;
    flex-direction: column;
    row-gap: 30px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    margin-bottom: 40px;
    row-gap: 40px;
  }
}

.footer__nav {
  display: flex;
  column-gap: 50px;

  /* Mobile XS */
  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

.footer__nav-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;

  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;

  transition: 0.3s;

  &:hover {
    color: #15d784;
  }
}

.footer__social {
  display: flex;
  column-gap: 30px;

  /* Mobile XS */
  @media (max-width: 599px) {
    column-gap: 20px;
  }
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.1);

  transition: 0.3s;

  &:hover {
    background-color: #00c470;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);

  /* Mobile XS */
  @media (max-width: 599px) {
    line-height: 1.5;
    padding: 0 50px;
  }
}
